<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>中金鼎鑫</title>
        <link rel="stylesheet" href="__PUBLIC__/weixin_client/css/frozen.css">
        <link rel="stylesheet" href="__PUBLIC__/weixin_client/css1/demo.css">
    </head>
    <body ontouchstart>
       
        <section class="ui-container">
           <ul class="ui-list ui-list-one ui-list-link ui-border-tb">
            <li class="ui-border-t" onclick="window.location.href='__WEIXIN__/Company/introduction'">
               <div class="ui-list-thumb" >
                 <span class="home_list" ></span>
               </div>
               <div class="ui-list-info">
                 <h4 class="ui-nowrap">公司简介</h4>
                 <!-- <div class="ui-txt-info">男</div> -->
               </div>
            </li>
            <li class="ui-border-t" onclick="window.location.href='__WEIXIN__/Product/product_query'">
               <div class="ui-list-thumb" >
                 <span class="home_list"></span>
               </div>
               <div class="ui-list-info">
                 <h4 class="ui-nowrap">产品查询</h4>
                 <!-- <div class="ui-txt-info">男</div> -->
               </div>
            </li>
            <li class="ui-border-t">
               <div class="ui-list-thumb" >
                 <span class="home_list"></span>
               </div>
               <div class="ui-list-info">
                 <h4 class="ui-nowrap">新闻动态</h4>
                 <!-- <div class="ui-txt-info">男</div> -->
               </div>
            </li>
            <li class="ui-border-t">
               <div class="ui-list-thumb" >
                 <span class="home_list"></span>
               </div>
               <div class="ui-list-info">
                 <h4 class="ui-nowrap">通知</h4>
                 <!-- <div class="ui-txt-info">男</div> -->
               </div>
            </li>
            <li class="ui-border-t">
               <div class="ui-list-thumb" >
                 <span class="home_list"></span>
               </div>
               <div class="ui-list-info">
                 <h4 class="ui-nowrap">投票调研</h4>
                 <!-- <div class="ui-txt-info">男</div> -->
               </div>
            </li>
           </ul>
        </section>
        <script src="__PUBLIC__/weixin_client/lib/zepto.min.js"></script>
        <script src="__PUBLIC__/weixin_client/js/frozen.js"></script>
        <script>
      
        </script>
    </body>
</html>