<!DOCTYPE HTML>
<html>
<head>
    {include file="public/_meta"}
    <title>客户列表</title>
    <style type="text/css">
    .header{
        margin-top: 10px; 
        margin-bottom: 20px;
    }
       .add_btn{
        width: 10px;
        float: left;
        background-color: #fff;
        border: none;
        margin-top: 0;
         margin-top: 10px; 
        margin-bottom: 20px;
        margin-right: 20px;
       }
       #order_list_form{
        width: 90%;
        float: left;
         margin-top: 10px; 
        margin-bottom: 20px;
       }
    </style>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 产品管理
    <span class="c-gray en">&gt;</span> 产品列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
<div class="header">
 <div class="add_btn cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加产品" onclick="product_add('创建产品','product_add','','100%','100%')" href="javascript:void(0);">
                <i class="Hui-iconfont">&#xe600;</i> 添加产品
            </a>
        </span>
  </div>
 <form method="post" action="" id="order_list_form" onsubmit="layer.load(3);">
    <table style="text-align:left;">
        <tr style="width:100px;height:45px;f">
            <td style="width:1%;text-align:right;padding-right:10px;">
                产品状态：
            </td>
            <td style="width:1%;padding-right:10px;">
                <span class="select-box inline" style="width:100%;border-radius:4px;">
                    <select name="status" class="select" style="width:100%;">
                        <option value="">请选择产品状态</option>
                        <option value="1" <?php if($status == 1) echo 'selected' ?>>募集中</option>
                        <option value="2" <?php if($status == 2) echo 'selected' ?>>续存</option>
                        <option value="3" <?php if($status == 3) echo 'selected' ?>>退出</option>
                    </select>
                </span>
            </td>
            <td style="width:5%;">
                <span><input type="text" value="{$title}" name="title" class="input-text" style="width:50%;border-radius:4px;" placeholder="请输入产品名称搜索"></span>
            </td>
        </tr>
    </table>
    <button style="display:none;" name="btn_search" class="btn btn-success" id="product_list_sreach"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
 </form> 
 </div>
   
    <div class="mt-20" style="margin-top: 20px">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="100">产品名称</th>
                <th width="100">产品状态</th>
                <th width="200">操作</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($product_list as $key=>$product){ ?>
                <tr class="text-c">
                    <td>{$product.title}</td>
                    <td>{$product.status_str}</td>
                    <td>
                        <span style="border-right: 1px solid #000;">
                            <a class="ml-5" style="padding-right:50px;" onClick="product_detail('产品详情','product_detail','{$product.id}','100%','100%')" href="javascript:" title="产品详情">查看</a>
                        </span>
                        <span style="border-right: 1px solid #000;">
                            <a class="ml-5" style="padding-left:50px;padding-right:50px;" onClick="product_save('产品修改','product_save','{$product.id}','100%','100%')" href="javascript:" title="产品修改">修改</a>
                        </span>
                        <span>
                            <?php if($product['status'] == 1 || $product['status'] == 2){ ?>
                                <a style="padding-left:50px;color:#ccc;text-decoration: none;" class="ml-5" href="#" title="产品删除">删除</a>
                            <?php }else{ ?>
                                <a style="padding-left:50px;" class="ml-5" onclick="product_delete('{$product.id}')" href="javascript:;" title="产品删除">删除</a>
                            <?php } ?>
                        </span>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</div>
{include file="public/_footer" /}
<script type="text/javascript">
    $('.table-sort').dataTable();

    function product_add(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_detail(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url + '?id=' + id,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_save(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url + '?id=' + id,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_delete(id){
        layer.confirm('确定要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = 'product_delete';
            var load = layer.load(3);
            $.post(url,{
                id:id
            },function(rt){
                if(rt){
                    if(rt.code == 200){
                        layer.msg(rt.msg,{icon:1,time:1000},function(){
                            layer_close(load);
                            location.reload();
                        })
                    }else{
                        layer.msg(rt.msg,{icon:2,time:2000},function(){
                            layer_close(load);
                        });
                    }
                }else{
                    layer.msg("删除失败",{icon:2,time:2000},function(){
                        layer_close(load);
                    })
                }
            },'json');
        }, function(){

        });
    }

    $(function () {
        $("body").keydown(function (event) {
            if (event.which == "13") {
                $("#product_list_sreach").click();
            }
        });
    });

</script>
</body>
</html>