<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/MDJ/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/MDJ/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/MDJ/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/MDJ/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/MDJ/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/MDJ/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/MDJ/lib/webuploader/0.1.5/webuploader.css" />
    <title>客户列表</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div style="clear:both;">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a class="btn btn-primary radius" data-title="创建订单" href="javascript:void(0);">
                    <i class="Hui-iconfont">&#xe600;</i> 创建订单
                </a>
            </span>
        </div>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="60">序号</th>
                    <th width="80">用户编码</th>
                    <th width="80">用户姓名</th>
                    <th width="80">电话</th>
                    <th width="80">创建时间</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($user_list as $k=>$v){ ?>
                    <tr class="text-c">
                        <td><?php echo $k+1 ?></td>
                        <td>{$v.user_code}</td>
                        <td>{$v.user_name}</td>
                        <td>{$v.telephone}</td>
                        <td>{$v.createtime}</td>
                        <td>删除</td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>