.ui-border-t:nth-of-type(1) span{
  background-image:url("../img/home_list1.png");
}
.ui-border-t:nth-child(2) span{
  background-image:url("../img/home_list2.png");
}
.ui-border-t:nth-of-type(3) span{
  background-image:url("../img/home_list3.png");
}
.ui-border-t:nth-of-type(4) span{
  background-image:url("../img/home_list4.png");
}
.ui-border-t:nth-of-type(5) span{
  background-image:url("../img/home_list5.png");
}
.ui-border-t{
line-height:64px!important;
border-bottom:1px solid #eee!important;
margin-left: 0!important;
padding-left: 15px!important;
}
.ui-list-thumb{
	width: 70px;height: 70px
}