<!DOCTYPE HTML>
<html>
<head>
    {include file="public/_meta"}
    <title>投票列表</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 投票管理
    <span class="c-gray en">&gt;</span> 投票列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="创建投票" onclick="product_add('创建投票','vote_add','','100%','100%')" href="javascript:void(0);">
                <i class="Hui-iconfont">&#xe600;</i> 创建投票
            </a>
        </span>
    </div>
    <table style="text-align:left;">
        <tr style="width:100px;height:45px;f">
            <td style="width:1%;text-align:right;padding-right:10px;">
                产品状态：
            </td>
            <td style="width:1%;padding-right:10px;">
                <span class="select-box inline" style="width:100%;border-radius:4px;">
                    <select name="status" class="select" style="width:100%;">
                        <option value="">状态</option>
                        <option value="1" >募集中</option>
                        <option value="2" >续存</option>
                        <option value="3" >退出</option>
                    </select>
                </span>
            </td>
            <td style="width:5%;">
                <span><input type="text" name="title" class="input-text" style="width:50%;border-radius:4px;" placeholder="请输入产品名称搜索"></span>
            </td>
        </tr>
    </table>
</div>
{include file="public/_footer" /}
<script type="text/javascript">
    $('.table-sort').dataTable();

    function product_add(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_detail(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url + '?id=' + id,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_save(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url + '?id=' + id,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_delete(id){
        layer.confirm('确定要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = 'product_delete';
            var load = layer.load(3);
            $.post(url,{
                id:id
            },function(rt){
                if(rt){
                    if(rt.code == 200){
                        layer.msg(rt.msg,{icon:1,time:1000},function(){
                            layer_close(load);
                            location.reload();
                        })
                    }else{
                        layer.msg(rt.msg,{icon:2,time:2000},function(){
                            layer_close(load);
                        });
                    }
                }else{
                    layer.msg("删除失败",{icon:2,time:2000},function(){
                        layer_close(load);
                    })
                }
            },'json');
        }, function(){

        });
    }

    $(function () {
        $("body").keydown(function (event) {
            if (event.which == "13") {
                $("#product_list_sreach").click();
            }
        });
    });

</script>
</body>
</html>