<!DOCTYPE HTML>
<html>
<head>
    {include file="public/_meta"}
    <title>投票列表</title>
    <link href="__PUBLIC__/css/vote_list.css?" rel="stylesheet" type="text/css" />

</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 投票管理
    <span class="c-gray en">&gt;</span> 投票列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="创建投票" onclick="product_add('创建投票','vote_add','','100%','100%')" href="javascript:void(0);">
                <i class="Hui-iconfont">&#xe600;</i> 创建投票
            </a>
        </span>
        <span class="status_label col-md-offset-5">状态：</span>
        <select class="select_tab" name="" id="">
          <option value="eq">状态1</option>
          <option value="eq">状态2</option>
          <option value="eq">状态3</option>
        </select>
        <input type="text" class="search_txt" placeholder="请输入标题搜素">
        <button class="serach_btn">搜索</button>
    </div>
</div>

<div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
            <tr class="text-c">
                <th width="200">标题</th>
                <th width="100">状态</th>
                <th width="100">发送人</th>
                <th width="100">开始时间</th>
                <th width="100">结束时间</th>
                <th width="100">答题数量</th>
                <th width="200">操作</th>
            </tr>
            </thead>
            <tbody>
          
                <tr class="text-c">
                    <td>qwe</td>
                    <td>qew</td>
                    <td>qew</td>
                    <td>qew</td>
                    <td>qew</td>
                    <td>
                        <a class="ml-5" href="javascript:" title="答卷数量">6</a>
                    </td>
                    <td>
                        <span style="border-right: 1px solid #000;">
                            <a class="ml-5" style="padding-right:10px;"  href="javascript:" title="产品详情">查看</a>
                        </span>
                        <span style="border-right: 1px solid #000;">
                            <a class="ml-5" style="padding-left:10px;"  href="javascript:" title="产品修改">修改</a>
                        </span>
                        <span>
                            <a style="padding-left:10px;" class="ml-5 del"  href="javascript:;" title="产品删除">删除</a>
                           
                        </span>
                    </td>
                </tr>
            
            </tbody>
        </table>
</div>
{include file="public/_footer" /}
<script type="text/javascript">
    $('.table-sort').dataTable();

    function product_add(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_detail(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url + '?id=' + id,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_save(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url + '?id=' + id,
            end: function () {
                location.reload();
            }
        });
        layer.full(index);
    }

    function product_delete(id){
        layer.confirm('确定要删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url = 'product_delete';
            var load = layer.load(3);
            $.post(url,{
                id:id
            },function(rt){
                if(rt){
                    if(rt.code == 200){
                        layer.msg(rt.msg,{icon:1,time:1000},function(){
                            layer_close(load);
                            location.reload();
                        })
                    }else{
                        layer.msg(rt.msg,{icon:2,time:2000},function(){
                            layer_close(load);
                        });
                    }
                }else{
                    layer.msg("删除失败",{icon:2,time:2000},function(){
                        layer_close(load);
                    })
                }
            },'json');
        }, function(){

        });
    }

    $(function () {
        $("body").keydown(function (event) {
            if (event.which == "13") {
                $("#product_list_sreach").click();
            }
        });
    });

</script>
</body>
</html>